.container {
    max-width: 112.5rem;
    margin: 0 auto;
}

.artistas {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}


article {
    width: 100%;
    padding: 2rem;
    color: rgb(207, 193, 193);
    background-color: transparent;
    border-radius: 20px;
    border: 0.0625rem solid  rgb(207, 193, 193);

    figure {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        height: 31.25rem;


        img {
            width: 100%;
            height: auto;
            display: block;


        }
    }
}

.section,
.my-4 {
    background-color: rgb(79, 51, 61);
}

.input {
    width: 20%;
    padding: 1.875rem 0;

    .form-label {
        color: rgb(207, 193, 193);
        font-family: "Gruppo",
            sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .form-select {
        font-family: "Montserrat", sans-serif;
        border: none;

    }
}

h3 {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
}

p  .text-muted {
    font-family: "Montserrat", sans-serif;
    border: none;
}

.btn-outline-dark {
    color: rgb(207, 193, 193);
    border: 0.0625rem solid rgb(207, 193, 193);
    margin: 0.625rem 0rem;
    padding: 0.625rem 1.875rem;

    &:hover {
        background-color: rgb(207, 193, 193);
        color: rgb(79, 51, 61);
    }
}